<!-- <h2>POST CREATE COMPONENT</h2> -->

<!-- <textarea rows="6" [value]="newPost"></textarea>     //OUTPUTTING CONTENT
<br>
<button (click)='onAddPost(postInput)'>Save Post</button>
<p>{{ newPost }}</p> -->

<!--GETTING USER INPUT USING LOCAL REFERENCE-->
<!-- <textarea rows="6" #postInput></textarea>
<br>
<button (click)='onAddPost(postInput)'>Save Post</button>
<p>{{ newPost }}</p> -->

<!--GETTING USER INPUT USING 2 WAY BINDING -->
<mat-card>
    <mat-form-field>

        <textarea matInput [(ngModel)]="enteredValue"></textarea>

    </mat-form-field>
</mat-card>



<br>
<button (click)='onAddPost()'>Save Post</button>
<p>{{ newPost }}</p>